.flex-row{
    display:flex;
    flex-direction: row;
    
}
.flex-column{
    display:flex;
    flex-direction: column;
    
}
#header{

    width:98vw;
    height:62px;
    background-color: lightpink;
    justify-content: center;
  
}
#header img{
    border-radius: 10px;
    width:190px;
    margin:5px;
    align-self:center;
}
#logout-btn{
    position: absolute;
    right:20px;
    border-radius: 0px 0px 15px 15px;
    height:40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border:transparent;
    outline:none;
}

#logout-btn:hover{
   background-color: lightgreen;
    outline:none;
    
}
#logout-btn img{
    width:30px;
}
#container{
    width:98vw;
    
    height:80vh;
}
#left{
    width:40%;
    
    
    height:80vh;

}
#right{
    width:60%;
    background-color: rgb(246, 255, 196);
    height:80vh;
    overflow: hidden;
    
}
#right img{
    align-self: center;
    width:500px;
    min-height:100%;
   
}

#left-navbar, #right-navbar{
    background-color: lightsteelblue;
    width: 100%;
    height:50px;
    color:darkslateblue;
    justify-content: center;
    align-items: center;
}
#right-navbar{
    
    justify-content: space-evenly;
    background-color: lightseagreen;
    color:rgb(246, 255, 196);
}
#back-btn{
    background-color: darkseagreen;
    border:transparent;
    
}
#mssg{
    overflow: scroll;
    width: 100%;
    height:62vh;
}
.myMssg , .frndMssg{
    border-width: 0px 5px 5px 0px;
    border-radius: 20px ;
    border-color: darkorchid;
    border-style: ridge;
    padding-left: 10px;
    background-color: lightseagreen;
    color:rgb(246, 255, 196);
    margin: 20px;
    width: 50%;
}

.myMssg{
    
    align-self: flex-end;
}
#input{
    background-color: lightgray;
   
    justify-content: space-around;
    width: 100%;
    height:40px;
}
#mssgInput{
    border-radius: 15px;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
#mssgInput:focus{
    outline: none;
}

#searchbar{
    justify-content: center;
    
    background-color: lightgrey;
    width: 100%;
    height:40px;
   
}
#searchbar input{
    width:90%;
    margin:10px;
    min-height:16px;
    border-radius: 20px;
    border-color: transparent;
}
#searchbar input:focus{
    outline: none;
}
#chats{
    width: 100%;
    height:62vh;
    background-color: lightyellow;
    overflow: scroll;
    
}
#chats img{
    
    border-radius: 50%;
    width: 60px;
    height:60px;
}
.chat{
   
    justify-content: space-around;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    color: rgb(85, 84, 84);
}
.chat button{
    
    
    border-radius: 20px;
}
.chat button:focus{
    outline:none;
}
#send img{
    
    width:30px;
    height:100%;
}
#send{
    background-color: lightgray;
    border-radius: 10px;
    border: transparent;
}
#send:focus{
    outline: none;
    
}
#send:hover{
    background-color: lightseagreen;
}
#suggestions{
    width:100%;
    background-color: lightgrey;
    max-height:70vh;
    overflow: scroll;
}
#suggestions div{
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    justify-content: space-around;
    align-items: center;
    color:rgb(62, 127, 189);
}
.add-btn{
    border-radius:10px;
   
    height:30px;
}
.add-btn:hover{
    background-color: lightgreen;
}
.add-btn:focus{
    outline: none;
}
@media (max-height:550px){
    #left-navbar{
        align-items: baseline;
    }
}
@media (max-width:640px){
  #left-navbar, #right-navbar{
        align-items: baseline;
        
    }
  
    #right{
        width:0%;
    }
    #left{
        width:100%;
    }
  #header img{
    width:170px;
    height:40px;
  }
    #logout-btn{
        position: absolute;
        top:55px;
        right:2px;
        height:35px;
        border-radius:20px;
    }

    #logout-btn img{
        width:20px;
        height:20px;
        margin-left:0px;
    }
}
